		<h1>Administration</h1>
		<p>
			This is the administration page for the
			Equipment Monitoring System sample application.
		</p>
		<table>
			<tr>
				<td>
				<%= link_to "Service Report", servrep_path, :class => "signup_button round" %>
				</td>
				<td>
				<%= link_to "PM Checklist", pmcheck_path, :class => "signup_button round" %>
				</td>
				<td>
				<%= link_to "Pull Out Receipt", pullout_path, :class => "signup_button round" %>
				</td>
				<td> 
				<%= link_to "Delivery Receipt", delreceipt_path, :class => "signup_button round" %>
				</td>
			</tr>
		</table>





